a{
  cursor: pointer;
  text-decoration: none;
}
#dasteha {
  width: 200px;
  height: 550px;
  background-color: #ecedef;
  z-index: 1000px;
  position: absolute;
  right: 10px;
  border-bottom-right-radius: 15px;
}
.hidden {
  display: none;
}
